.ingridient {
  margin: 0 auto;
}

.ingridient__list {
  height: 664px;
  overflow-y: scroll;
  list-style-type: none;
  padding-left: 0;
  height: 464px;
}

.ingridient__list::-webkit-scrollbar {
  width: 8px;
  background-color: #2f2f37;
}

.ingridient__list::-webkit-scrollbar-thumb {
  background-color: #8585ad;
}

.ingridient__item {
  max-width: 536px;
  display: flex;
  align-items: center;
  justify-items: center;
}

.ingridient__sum {
  display: flex;
}

.order {
  max-width: 552px;
  display: flex;
  justify-content: flex-end;
}
