.container {
  max-width: 100%;
  padding: 24px 24px 0;
  display: grid;
  gap: 24px;
  min-height: 168px;
}

.string {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  grid-column-start: 1;
  grid-column-end: 3;
}

.list_title {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
}

.list_ingredients {
  max-width: 304px;
  list-style-type: none;
  padding: 0;
  display: flex;
  position: relative;
  height: 68px;
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 2;
}

.list_item {
  position: absolute;
  width: 64px;
  height: 64px;
  border: 2px solid transparent;
  background-image: linear-gradient(#131316, #131316),
  radial-gradient(#801AB2, #4C4CFF);
  border-radius: 100px;
  background-clip: content-box, border-box;
  display: flex;
  justify-content: center;
}

.list_item:nth-child(1) {
  z-index: 10;
}

.list_item:nth-child(2) {
  left: 48px;
  z-index: 9;
}

.list_item:nth-child(3) {
  left: 96px;
  z-index: 8;
}

.list_item:nth-child(4) {
  left: 144px;
  z-index: 7;
}

.list_item:nth-child(5) {
  left: 192px;
  z-index: 6;
}

.list_item:nth-child(6) {
  left: 240px;
  z-index: 5;
  position: relative;
}

.number {
  z-index: 100;
  position: absolute;
  top: 20px;
  right: -60px;
}

.list_item:nth-child(6)::before {
  content: "";
  position: absolute;
  background: #1c1c21;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.6;
  z-index: 50;
}

.container_with_price {
    justify-self: end;
    align-self: center;
    grid-row-start: 3;
    grid-row-end: 4;
}
