.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 180px;
}

.form {
  max-width: 480px;
}

.title {
  text-align: center;
}

.input_items {
  margin: 0;
  padding-left: 0;
  padding-right: 0;
  border: none;
  display: grid;
  gap: 24px;
}

.button {
  max-width: 480px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text_container {
  max-width: 480px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container_profile {
  max-width: 1240px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  gap: 60px;
  padding-top: 120px;
}

.text_container_nav {
  max-width: 320px;
  display: flex;
  flex-direction: column;
}

.text_container_list {
  max-width: 320px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 192px;
}

.form_button_container {
  display: flex;
  justify-content: flex-end;
}

.nav_link {
  text-decoration: none;
}

.nav_link_active {
  color: var(--text-primary-color);
}
